body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 1em;
}

.title {
  padding: 5px;
  font-size: 1em;
  background: #e3f4ff;
}

.content {
  padding: 1.1em 0.3em;
  margin-bottom: 1em;
  background: #e3f4ff;
}

.button-container {
  padding: 5px;
  background: #e3f4ff;
  text-align: center;
}

button {
  font-size: 1rem;
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 0.5em 1em;
}

h1, p {
  line-height: 1.5;
}